/************************************* COLORS ***************************************/
:root{
    --bg-color: rgb(231, 209, 209);
    --sectorsbackground: #6d5858;
    --sectorstext: rgb(235, 228, 228);
    --textanimation:rgb(0, 0, 0);
    --animatedtext: rgba(255, 0, 0, 0);
    --cbutton: #6d5858;
    --header: rgb(234, 209, 209);
    --headerlinks:#6d5858;
    --navbaritems-color:#6d5858;
    --header-height:35px;
    --headercolor:rgb(231, 209, 209);
    --headings:rgb(0, 0, 0);
    --logohover:rgb(121, 107, 107);
    --togglehover:rgb(121, 107, 107);
    --linkhover:rgb(121, 107, 107);
    --footer:rgb(231, 209, 209);
    --footertext:rgb(0, 0, 0);
    --viewmore:rgb(250, 158, 158);
    --social:rgb(235, 228, 228);
    --aboutsectors: #6d5858;
    --aboutsectorstext:rgb(235, 228, 228);
    --aboutsectorsicons:rgb(235, 228, 228);
    --aboutsectorshover:#726868;
    --devicesheadings:rgb(255, 255, 255);
    --modalheadings:white;
    --modaltext: rgb(235, 228, 228);
    --modal-bg:#594848;
    --modalclose: rgb(235, 228, 228);
    --bthemes:rgb(252, 107, 107);
    --bthemeshover:rgb(177, 65, 55);
    --skillsname:rgb(255, 255, 255);
    --skillsnumber:rgb(255, 255, 255);
    --skillsbar:red;
    --skillsubtitles:rgb(235, 228, 228);
    --unfilledbar: rgb(58, 51, 51);
    --filledbar: rgb(219, 186, 186);
    --mainpagetext2:black;
    --csmusic:rgb(252, 107, 107);
    --blobcolor:#e9afae
}

:root{
    --introduction_:50px;
    --text-change_:24px;
    --headings_:30px;
    --devicestext_:16px;
    --devicesheadings_:16px;
    --buttonstext_:22px;
    --rights_:16px;
    --navlogo_:20px;
    --navlinks_:16px;
    --viewmore_:16px;
    --modalpreview_:20px;
    --modaltitle_:19px;
    --modaltext_:15px;
    --skillssubtitles_: 17px;
    --skillsname_: 15px;
    --skillnumber_:15px;
    --mainpagetext2_: 16px;
}

body.dark-theme {
    --bg-color: #191524;
    --sectorsbackground: rgb(31, 30, 50);
    --sectorstext: rgb(233, 230, 234);
    --textanimation:rgb(233, 230, 234);
    --animatedtext: rgb(25, 21, 36);
    --cbutton: rgb(31, 30, 50);
    --header: #191524;
    --navbaritems-color:rgb(233, 230, 234);
    --header-height:35px;
    --headercolor:rgb(25, 21, 36);
    --navclose: rgb(233, 230, 234);
    --headings:#554d99;
    --devicesheadings2:white;
    --logohover:rgb(53, 41, 54);
    --togglehover:rgb(53, 41, 54);
    --linkhover:rgb(76, 71, 77);
    --headerlinks:rgb(233, 230, 234);
    --footer:rgb(25, 21, 36);
    --footertext:rgb(233, 230, 234);
    --viewmore:rgb(85, 77, 153);
    --social:rgb(233, 230, 234);
    --aboutsectors:rgb(31, 30, 50);
    --aboutsectorstext:rgb(233, 230, 234);
    --aboutsectorsicons:white;
    --aboutsectorshover:rgb(43, 42, 68);
    --devicesheadings:rgb(233, 230, 234);
    --modalheadings:rgb(255, 255, 255);
    --modaltext:rgb(233, 230, 234);
    --modal-bg:#3e3c5e;
    --modalclose:rgb(233, 230, 234);
    --bthemes:rgb(160, 154, 155);
    --bthemeshover:rgb(243, 157, 171);
    --skillsname:rgb(233, 230, 234);
    --skillsnumber:rgb(233, 230, 234);
    --skillsbar:red;
    --skillsubtitles:rgb(255, 255, 255);
    --unfilledbar: rgb(195, 188, 240);
    --filledbar: rgb(105, 94, 176);
    --mainpagetext2:rgb(233, 230, 234);
    --csmusic:red;
    --blobcolor: #413865;
}

body.dark-theme .mainpage{
    background-image: url(../images/blobs/bg-dark.svg);
    background-repeat: no-repeat;
    background-attachment: unset;
    background-size: cover;

}


.darkblob{
    display: none;
}


body.dark-theme .lightblob{
    display: none;
}

body.dark-theme .darkblob{
    display: inline;
}


/************************************* COLORS ***************************************/

/************************************************************************************/



/***********************************************************************************************/

/*********************************ALL DOCUMENT COMMON SETTINGSR**************************************/


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{ 
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-size:cover;
    background-color: var(--bg-color);
    margin: 0 0 var(--header-height) 0;
    transition: 1s ease-in-out;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.csmusic{
    color: var(--csmusic);
    font-weight: 500;
}

img{
    max-width: 100%;
    height: auto;
}

.button-link{
    padding: 0;
    background-color: transparent;
    color: var(--viewmore);
}
/**************************************ALL DOCUMENT COMMON SETTINGS*****************************************/

/***********************************************************************************************/

/*********************************MAINPAGE**************************************/

.mainpage{
    height:100vh;
    background-image: url(../images/blobs/bg-light.svg);
    transition: 1s ease-in-out;
    background-repeat: no-repeat;
    background-attachment:unset;
    background-size: cover;
}

.dark{
    display: none;
}

.light{
    display: none;
}

.dark1{
    display: none;
}

.light1{
    display: none;
}

.text-change-container{
    height: 100%;
    width: 100%;
    display: flex;
    font-size: var(--text-change_);
    font-weight: 500;
    margin-top: 5px;
    padding-left: 5%;
}

.text-change{
    color: var(--textanimation);
    filter: drop-shadow(0 0 0.4em var(--animatedtext));
}

.mainpagetext2{
    color: var(--mainpagetext2);
    line-height:1;
    font-weight: 500;
    font-size: var(--mainpagetext2_);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 80px;
}

.test{
    position: absolute;
    bottom: 0;
}

.blob1{
    opacity: 100%;
    width: 220px;
	height: 220px;
	position: absolute;
	top: 10%;
	left: 3%;
	transform: translate(-50%, -50%);
	background-color: var(--blobcolor);
	animation: blob1 10s linear infinite;
    overflow: hidden;
    
}

.blob2 {
	opacity: 70%;
    width: 100px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--blobcolor);
	animation: blob2 30s linear infinite;
    overflow: hidden;
}

.blob3{
    width: 110px;
	height:110px;
	position: absolute;
	top: 10%;
	left:65%;
	transform: translate(-50%, -50%);
	background-color: var(--blobcolor);
	animation: blob3 7s linear infinite;
    overflow: hidden;
}



/**************************************MAINPAGE*****************************************/

/***********************************************************************************************/

/*********************************NAVBAR**************************************/

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--header);
    transition: 1s ease-in-out;
}

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo, .nav_toggle, .change-theme, .change-language{
    color: var(--navbaritems-color);
    font-weight: 500;
}

.nav_toggle{
    color:white;
    font-weight: 500;
}

.nav_logo{
    padding-left: 20px;
    font-size: var(--navlogo_);
    padding-top: 2px;
}

.nav_toggle{
    font-size: 1.2rem;
    cursor: pointer;
    padding-right:20px;
    color: var(--navbaritems-color);
}

.nav_btns{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: 1s ease-in-out;
}

.change-theme{
    font-size: 1.25rem;
    cursor:pointer;
    color: var(--navbaritems-color);
    transition: 1s ease-in-out;
}

.uil-brightness::before{
    color:var(--navbaritems-color);
    font-size: 1.35rem;
    font-weight: 1000;
    transition: 1s ease-in-out;
}

.change-language{
    font-size: 1.25rem;
    cursor:pointer;
    color: var(--navbaritems-color);
    transition: 1s ease-in-out;
}

.nav_list{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

@media screen and (max-width:767px){
    .nav_menu{
        position: fixed;
        bottom:-100%;
        left: 0;
        width: 100%;
        background-color: var(--headercolor);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px #303030;
        border-radius: 1.5rem 1.5rem 0 0;
    }
}



.nav_link{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--headerlinks);
    font-size: var(--navlinks_);
}

.nav_icon{
    font-size: 1.2rem;
}

.nav_close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--navclose);
}

.show-menu{
    bottom: 0;
}

.grid{
    display: grid;
    gap: 10px;
}
/**************************************NAVBAR*****************************************/

/***********************************************************************************************/

/*********************************TITLES**************************************/

.introductiontitle{
    display: flex;
    text-align: center;
    padding-left: 5%;
    font-size: var(--introduction_);
    color: var(--headings);
}

.aboutitle, .contactstitle, .devicestitle {
    padding-left: 5%;
    color:var(--headings);
    font-size: var(--headings_);
    transition: 1s ease-in-out;
}

.aboutitle{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactstitle{
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.devicestitle{
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 1s ease-in-out;
}
/***************************************** Titles **************************************/

/**************************************8888888888888888888888888888888888888888888888*/

/***************************************** MODAL **************************************/

.aboutme_container{
    gap: 4%;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 5%;
    padding-right: 5%; 
}

.aboutme_content{
    position: relative;
    background-color: var(--aboutsectors);
    padding: 3.5rem .5rem 1.25rem 1.5rem;
    border-radius: 18px;
    transition: .3s;
    color: var(--aboutsectorstext);
}

.about_icon{
    display: block;
    font-size: 1.5rem;
    color: var(--aboutsectorsicons);
    margin-bottom: 10px;
}

.aboutme_titles{
    font-size: var(--modalpreview_);
    font-weight: 400;
    margin-bottom: 10px;
}

.about_button{
    cursor: pointer;
    font-size: var(--viewmore_);
}

.about_modal{
   -webkit-backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: calc(5% + 35px);
    z-index:999;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
   
}

.viewsmodal{
    margin: auto;
}

.active-modal{
    opacity: 1;
    visibility: visible;
    overflow: auto;
}

.about_modal-content{
    position: relative;
    background-color: var(--modal-bg);
    padding: 10px 10px 20px 10px;
    border-radius: 18px;
    overflow-y: auto;
}


.about_modal-abouts{
    row-gap: 1rem;
}

.about_modal-about{
    display: flex;
    font-size: 13px;
}

.about_modal-title{
    font-size: var(--modaltitle_);
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--modalheadings);
}

.modaltext{
    color: var(--modaltext);
    font-weight: 400;
    font-size: var(--modaltext_);
}

.about_modal-close{
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
    font-size: 1.5rem;
    color: var(--modalclose);
    cursor: pointer;
    margin-left: 30px;
    margin-right: 20px;
}

.skills_container{
    row-gap: 0;
}

.skills_header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skills_title{
    font-size: 20px;
}

.skills_subtitle{
    font-size: 10px;
}

.skills_subtitles{
    color: var(--skillsubtitles);
    font-size: var(--skillssubtitles_);
}

.skills_titles{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.skills_name{
    color: var(--skillsname);
    font-weight: 600;
    font-size: var(--skillsname_);
}

.skills_number{
    color: var(--skillsnumber);
    font-size: var(--skillnumber_);
}

.skills_bar,
.skills_percentage{
    height: 5px;
    border-radius: .25em;
}

.skills_bar{
    background-color: var(--unfilledbar);
}

.skills_percentage{
    display: block;
    background-color: var(--filledbar);
}

.skills_english{
    width: 65%;
}

.skills_ukrainian{
    width: 90%;
}

.skills_polish{
    width: 10%;
}

.skills_belarussian{
    width: 10%;
}

.skills_russian{
    width: 90%;
}

.skills_html{
    width: 80%;
}

.skills_css{
    width: 70%;
}

.skills_js{
    width: 10%;
}

.skills_python{
    width: 40%;
}

.skills_list{
    width: 250px;
}

/***************************************** MODAL **************************************/

/*****************************************************************************/

/*********************************DEVICES**************************************/
.devicessector{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.pcdevicestitle, .phonetitle, .mypcspecstitle{
    font-size: var(--devicesheadings_);
    color: var(--devicesheadings2);
    transition: 1s ease-in-out;
}

.mypc, .pcdevices, .phone{
    font-size: var(--devicestext_);
    transition: 1s ease-in-out;
}


.phonesector, .pcdevicessector, .mypcspecssector {
    background-color: var(--sectorsbackground);
    border-radius: 18px;
    padding: 7px;
    color: var(--sectorstext);
    line-height: 1.3;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: 1s ease-in-out;
}

.phonesector{
    display: flex;
    flex-direction: column;
    text-align: center;
    order: 3;
    align-items: center;
    height: fit-content;
    width: 43%;
    margin-left: 4%;
}

.pcdevicessector{
    display: flex;
    flex-direction: column;
    text-align: center;
    order: 2;
    align-items: center;
    height: fit-content;
    width: 43%;
}

.mypcspecssector{
    flex-direction: column;
    text-align: center;
    display: flex;
    width: 90%;
    align-items: center;
    margin-bottom: 10px;
}

.gpixel{
    color: pink;
}

.bold{
    font-weight: 700;
    color: var(--devicesheadings);
    transition: 1s ease-in-out;
}

.bthemes{
    color: var(--bthemes);
    transition: 1s ease-in-out;
}
/*********************************DEVICES**************************************/

/*****************************************************************************/

/*********************************CONTACTS**************************************/
.contactbuttons{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: left;
    flex-direction: row;
    transition: 1s ease-in-out;
    margin-top: 0px;
}

.telegram, .instagram, .twitter, .spotify, .tiktok, .steam, .faceit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 56px;
    margin-top: 0px;
    margin-bottom: 35px;
    max-width: 768px;
    width: 90%;
    margin-right: 5%; 
    margin-left: 5%;
    height: 96px;
    background-color: var(--cbutton);
    transition: 1s ease-in-out;
}


.cname{
    padding-right: 40px;
    font-size: var(--buttonstext_);
    font-weight: 600;
    color: var(--social);
    transition: 1s ease-in-out;
}

.logo{
    padding: 0;
    height: 83px;
    width: 83px;
    margin-left: 10px;
}

.faceitlogo{
    border-radius: 100%;
    padding-right: 0px;
    height: 83px;
    width: 83px;
}
/*********************************CONTACTS**************************************/

/*****************************************************************************/

/*********************************RIGHTS**************************************/
.rightssector{
    background-color: var(--footer);
    margin-top: 10px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 600;
    transition: 1s ease-in-out;
}

.rights{
    text-align: center;
    color: var(--footertext);
    font-size: var(--rights_);
    transition: 1s ease-in-out;
}

.arr{
    font-weight: lighter;
}

/*********************************RIGHTS**************************************/
@media (any-hover: hover) {
    .nav_link:hover{
        color: var(--linkhover)
    }
    .nav_logo:hover{
        color: var(--logohover);
    }
    .nav_toggle:hover{
        color:var(--linkhover);
    }
    .change-theme:hover{
        color:var(--linkhover)
    }
    .change-language:hover{
        color:var(--linkhover)
    }
    .nav_close:hover{
    color: var(--linkhover);
    }
    .aboutme_content:hover{
        box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    }
    .about_button:hover .button-icon{
        transform: translateX(.25rem)
    }
    .button-link:hover{
    background-color: transparent;
    color: var(--viewmore);
    }
    .aboutme_content:hover{
        background-color: var(--aboutsectorshover);
    }
    .cbutton:hover .logo{
        height: 96px;
        width:96px;
        margin-left: 0px;
        transition: 0.3s;
    }

    .bthemes:hover{
        color: var(--bthemeshover);
    }
}

@media only screen and (min-width:767px){
    :root{
        --introduction_:90px;
        --text-change_:40px;
        --headings_:50px;
        --devicestext_:21px;
        --devicesheadings_:23px;
        --buttonstext_:28px;
        --rights_:16px;
        --navlogo_:20px;
        --navlinks_:16px;
        --viewmore_:26px;
        --modalpreview_:30px;
        --modaltitle_:26px;
        --modaltext_:23px;
        --skillssubtitles_: 26px;
        --skillsname_: 23px;
        --skillnumber_:23px;
        --mainpagetext2_: 24px;
    }

    .contactbuttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
        list-style: none;
        transition: 1s ease-in-out;
        margin-left: 5%;
        margin-right: 5%;
        grid-auto-columns: minmax(286px, 520px);
    }

    .telegram, .instagram, .twitter, .spotify, .tiktok, .steam, .faceit{
        max-width: 520px;
        width: 90%;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }

    .telegram, .instagram{
        margin-top: 0;
    }


    .light1{
        transition: 1s ease-in-out;
        display: inline;
        }

    .dark1{
        display: none;
    }

    .commonsymbols{
        opacity: 100%;
        position: absolute;
        overflow: hidden;
        transform: translate(-50%, -50%);
    }
    
    .blob1{
        width: 330px;
        height: 330px;
    }

    .cross1{
        top: 40%;
        left: 42%;
        width: 40px;
        height: 40px;
        animation:  cross1 1.2s linear infinite;
    }
    
    .cross2{
        top: 14%;
        left: 28%;
        width: 45px;
        height: 45px;
        animation: cross2 10s linear infinite;
    }
    
    .cross3{
        top: 38%;
        left: 76%;
        width: 40px;
        height: 40px;
        animation: cross3 10s linear infinite;
    }
    
    .circle1{
        top: 32%;
        left: 25%;
        width: 46px;
        height: 46px;
        animation: circle1 10s linear infinite;
    }
    
    .circle2{
        top: 14%;
        left: 50%;
        width: 42px;
        height: 42px;
        animation: circle2 10s linear infinite;
    }
    
    .circle3{
        display: none;
        top: 30%;
        left: 85%;
        width: 45px;
        height: 45px;
        animation: circle2 10s linear infinite;
    }
    
    .square1{
        top: 39%;
        left: 10%;
        width: 45px;
        height: 45px;
        animation: square1 10s linear infinite;
    }
    
    .square2{
        top: 17%;
        left: 90%;
        width: 45px;
        height: 45px;
        animation: square2 10s linear infinite; 
    }
    
    .square3{
        top: 26%;
        left: 65%;
        width: 40px;
        height: 40px;
        animation: square3 10s linear infinite; 
    }
    
    .triangle1{
        top: 26%;
        left: 37%;
        width: 40px;
        height: 40px;
        animation: triangle1 10s linear infinite; 
    }
    
    .triangle2{
        top: 47%;
        left: 94%;
        width: 40px;
        height: 40px;
        animation: triangle2 10s linear infinite
    }
    
    .triangle3{
        display: none;
        top: 44%;
        left: 58%;
        width: 40px;
        height: 40px;
        animation: triangle3 10s linear infinite;
    }
    

    .devicessector{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        justify-content:center;
    }
    
    .pcdevicestitle, .phonetitle, .mypcspecstitle{
        font-size: var(--devicesheadings_);
    }

    .mypcspecstitle{
        font-size: 36px;
        padding-bottom: 10px;
    }
    
    .mypc, .pcdevices, .phone{
        font-size: var(--devicestext_);
    }
    
    .mypc{
        font-size: 31px;
    }

    .phonesector, .pcdevicessector, .mypcspecssector {
        background-color: var(--sectorsbackground);
        border-radius: 18px;
        padding: 7px;
        color: var(--sectorstext);
        line-height: 1.3;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    
    .phonesector{
        display: flex;
        flex-direction: column;
        text-align: center;
        order: 3;
        align-items: center;
        height: fit-content;
        width: 6000px;
        max-width: 265px;
        position: absolute;
        margin-top:500px;
        margin-left: 30%;
    }
    
    .pcdevicessector{
        display: flex;
        flex-direction: column;
        text-align: center;
        order: 2;
        align-items: center;
        height: fit-content;
        width: 43%;
    }
    
    .mypcspecssector{
        justify-content: center;
        flex-direction: column;
        text-align: center;
        display: flex;
        width: 90%;
        height: fit-content;
        max-width: 42%;
        margin-left: 0%;
        margin-right: 5%;
        align-items: center;
        }

    .header{
        top: 0;
        bottom: initial;
        
    }

    .nav{
        height:4rem;
        column-gap: 1rem;
        max-width: 10000px;
    }

    .nav_icon,
    .nav_close,
    .nav_toggle{
        display: none;
    }

    .nav_list{
        display: flex;
        column-gap: 2rem;
    }

    .nav_menu{
        margin-left: auto;
    }

    .change-language{
        margin:0;
        margin-right: 20px;
    }

    .change-theme{
        margin: 0;
        margin-left: 20px;
    }

    .nav_link{
        font-weight: 600;
        font-size: 19px;
    }

    .nav_btns{
        font-weight: 1000;
        font-size: 24;
    }

    .nav_logo{
        font-size: 21px;
        font-weight: 600;
    }
    
    .aboutme_container{
        grid-template-columns: repeat(4, 1fr);
    }


    .devicessector{
        grid-template-columns: repeat(2, 1fr);
    }

    
    body.dark-theme .light1{
        display: none;
    }
    
    body.dark-theme .dark1{
        display: inline;
    }
    
    .prefsmodal{
        margin-top: 5rem;
    }

    .biomodal{
        margin-top: 5rem;
    }

    .skillsmodal{
        margin-top: 5rem;
    }

    .viewsmodal{
        margin-top: 1rem;
    }
}

@media only screen and (min-width:1316px){
    .contactbuttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        list-style: none;
        transition: 1s ease-in-out;
        margin-left: 5%;
        margin-right: 5%;
        grid-auto-columns: minmax(286px, 520px);
    }

    .telegram, .instagram, .twitter, .spotify, .tiktok, .steam, .faceit{
        max-width: 520px;
        width: 90%;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }

    .telegram, .instagram, .twitter{
        margin-top: 0;
    }

    
}

@media only screen and (min-width:2016px){
    .contactbuttons{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 25px;
        list-style: none;
        transition: 1s ease-in-out;
        margin-left: 5%;
        margin-right: 5%;
        grid-auto-columns: minmax(286px, 520px);
    }

    .telegram, .instagram, .twitter, .spotify, .tiktok, .steam, .faceit{
        max-width: 520px;
        width: 90%;
        margin: 0;
        padding: 0;
        margin-top: 40px;
    }

    .telegram, .instagram, .twitter, .spotify{
        margin-top: 0;
    }
}

@media only screen and (max-width: 365px){
    .introductiontitle{font-size: 34px;}
}

@keyframes blob1{
     0% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
	20% { border-radius: 60% 40% 40% 60% / 60% 25% 75% 40%; }
	40% { border-radius: 70% 30% 95% 35% / 80% 45% 55% 20%;}
	60% { border-radius: 30% 70% 70% 30% / 20% 30% 70% 80%; }
	80% { border-radius: 40% 60% 40% 60% / 70% 55% 45% 30%; }
	100% { border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; }
}

@keyframes blob2 {
    0%  { border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
    5%  { border-radius: 48% 52% 41% 59% / 66% 37% 63% 34%; }
    10% { border-radius: 69% 31% 71% 29% / 67% 31% 69% 33%; }
    15% { border-radius: 60% 40% 71% 29% / 63% 65% 35% 37%; }
    20% { border-radius: 61% 39% 51% 49% / 57% 58% 42% 43%; }
    25% { border-radius: 66% 34% 25% 75% / 47% 30% 70% 53%; }
    30% { border-radius: 32% 68% 38% 62% / 65% 60% 40% 35%; }
    35% { border-radius: 63% 37% 41% 59% / 35% 38% 62% 65%; }
    40% { border-radius: 57% 43% 49% 51% / 55% 71% 29% 45%; }
    45% { border-radius: 47% 53% 34% 66% / 65% 36% 64% 35%; }
    50% { border-radius: 44% 56% 32% 68% / 69% 26% 74% 31%; }
    55% { border-radius: 28% 72% 37% 63% / 71% 44% 56% 29%; }    
    60% { border-radius: 38% 62% 35% 65% / 74% 53% 47% 26%; }
    65% { border-radius: 73% 27% 46% 54% / 54% 47% 53% 46%; }
    70% { border-radius: 75% 25% 47% 53% / 49% 53% 47% 51%; }
    75% { border-radius: 62% 38% 43% 57% / 55% 60% 40% 45%; }
    80% { border-radius: 41% 59% 65% 35% / 73% 50% 50% 27%; }
    85% { border-radius: 55% 45% 57% 43% / 73% 61% 39% 27%; }
    90% { border-radius: 74% 26% 33% 67% / 40% 65% 35% 60%; }
    95% { border-radius: 58% 42% 57% 43% / 53% 45% 55% 47%; }
    100%{ border-radius: 48% 52% 68% 32% / 42% 28% 72% 58%; }
}

@keyframes blob3{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      opacity: .89;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
}

